<header class="main-header-container">
    <div class="main-header container">
        <h1><a href="#home">BOUTIQUE MYAN</a></h1>
        
        <nav>
            <ul>
                <li><a href="#materias">
                    <span class="material-icons">favorite_border</span>
                </a></li>
                <li><a href="#podcasts">
                    <span class="material-symbols-outlined">
                        shopping_bag
                        </span>
                </a></li>
                <li> <button class="login">  <a href="#login">
                    <span class="material-symbols-outlined">
                        person
                        </span>
                </a></li> </button>
            </ul>
        </nav>
        
    </div>
    <div class="main-header search-header">
        {% include 'app/partials/search.html' %}
    </div>
</header>